.appContainer {
   display: flex;
   min-height: 100vh;
}

.sidebar {
   width: 20%;
   max-width: 300px;
   min-width: 200px;
   background-color: #ecf0f1;
   color: #ecf0f1;
}

.mainArea {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   width: 80%;
   overflow: hidden; /* Prevent scrolling on the main area */
}

.header {
   /* Add styles for your header here */
   background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 10;
}

.content {
   flex-grow: 1;
   overflow-y: auto; /* Enable scrolling for content */
   /* padding: 20px; */
}

@media (max-width: 768px) {
   .appContainer {
      flex-direction: column;
   }

   .sidebar {
      width: 100%;
      max-width: none;
   }

   .mainArea {
      width: 100%;
   }
}

.appContent {
  display: flex;
  flex-grow: 1;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}
