.sidebar-container {
   width: 300px;
   background-color: #fff;
   color: #666666;
   display: flex;
   flex-direction: column;
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
   border-right: 2px solid #edeef2;
}

.sidebar-header {
   padding: 20px;
   text-align: center;
   /* border-bottom: 1px solid #34495e; */
}

.logo {
   font-size: 24px;
   font-weight: bold;
   color: #7f61d7;
   margin: 0;
}

.sidebar-nav {
   flex-grow: 1;
   padding: 20px 0;
}

.sidebar-nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.sidebar-nav li {
   margin-bottom: 5px;
}

.sidebar-nav a {
   display: flex;
   align-items: center;
   padding: 12px 20px;
   color: #827f7f;
   text-decoration: none;
   transition: all 0.3s ease;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
   background-color: #edecf1;
   color: #7f61d7;
   border-radius: 10px;
   /* padding: 20px; */
}

.sidebar-nav a svg {
   margin-right: 10px;
   width: 20px;
}

.sidebar-footer {
   padding: 20px;
   /* border-top: 1px solid #34495e; */
}

.logout-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 12px;
   border: 1px solid #e74c3c;
   color: #e74c3c;
   /* border: none; */
   background: white;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.logout-btn:hover {
   background-color: #c0392b;
   color: white;
}

.logout-btn svg {
   margin-right: 10px;
}
